@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
div{
    overflow: auto;
}
.para1{
    width: 400px;
    max-width: 50%;
    opacity: 0.75;
    font-size: 13px;
}
.heading1{
    font-size: 54px;
    padding-top:2% ;
}
ol {
    list-style-type: none;
    display: flex;
}
.pap{
    font-weight: 600;
    padding: 0 20px;
    opacity: 0.6;  
    padding: 0 20px;
    margin: 5px;
    
}
.pap:hover{
    background-color: rgba(252, 252, 252, 0.461);
    color: #3D5300;
    padding: 0 25px;
    border-radius: 5px;

}
body {
    font-family: 'Nunito', sans-serif;
    color: white;
    overflow: hidden;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}
.mars {
    position: absolute;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
